@use "./../../../styles/variables" as variables;

.breadcrumb {
  ol {
    list-style: none;
    padding: 0;
    margin: variables.$space-5 0 variables.$space-6;
    letter-spacing: 4%;
  }

  li {
    margin-right: variables.$space-4;
    font-size: variables.$font-size-breadcrumb;
    font-weight: variables.$font-weight-medium;
    color: variables.$font-color-breadcrumb;
    text-transform: uppercase;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
      &:focus {
        font-weight: variables.$font-weight-semibold;
      }
    }
  }
}
