<fieldset
  class="filter-buttons d-flex flex-wrap margin-bottom-32 gap-12 radius-s"
>
  <legend class="visually-hidden">Filter Options</legend>

  <button
    *ngFor="let filter of filterOptions"
    (click)="onFilterSelect(filter)"
    [class.active]="selectedFilter === filter"
    [attr.aria-label]="'Filter by ' + filter"
  >
    {{ filter }}
  </button>
</fieldset>
<p class="current-filter margin-bottom-48" aria-live="polite">
  Current Filter: <span class="bold">{{ selectedFilter }}</span>
</p>
