@use "./../../../styles/variables" as variables;

.filter-buttons {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-buttons button {
  padding: variables.$space-1 variables.$space-02;
  background-color: transparent;
  border: 1px solid variables.$color-neutral-200;
  cursor: pointer;
  color: variables.$font-color-body;
}

.filter-buttons button:hover {
  background-color: variables.$color-neutral-800;
  color: variables.$color-neutral-100;
}
