@use "./../../../styles/variables" as variables;

.pill {
  &-easy {
    background-color: variables.$color-neutral-200;
  }

  &-medium {
    background-color: variables.$color-neutral-500;
    color: variables.$color-neutral-50;
  }

  &-difficult {
    background-color: variables.$color-neutral-800;
    color: variables.$color-neutral-50;
  }

  &-default {
    background-color: variables.$color-neutral-100;
  }
}
