@use "./../../../styles/variables" as variables;

.flex-container {
  margin-bottom: variables.$space-12;
}

img {
  max-width: 499px;
  float: right;
}

@media (max-width: 768px) {
  .flex-container {
    margin-bottom: variables.$space-11;
    img {
      width: 100%;
      float: none;
    }
  }
}

@media (max-width: 390px) {
  .flex-container {
    margin-bottom: variables.$space-10;
  }
}
