<div class="hero container">
  <div class="hero-box hero-box-left">
    <div class="hero-content">
      <div class="hero-headline-group">
        <p class="subheadline">Explore Yin&#8209;Style Yoga</p>
        <h1>Embrace the calm and meditative practice of Yin-Style Yoga</h1>
      </div>
      <p>
        Discover Yin-Style Yoga Routines that target key areas of your body
        while deepening your connection to yourself. Unwind, restore, and
        explore your inner calm.
      </p>
      <button routerLink="/routines">Explore Routines</button>
    </div>
  </div>
  <div class="hero-box hero-box-right">
    <img src="yoga-poses/meditation.png" alt="" />
  </div>
</div>
