@use "./../../../../styles/variables" as variables;

.mat-mdc-button {
  font-family: variables.$font-family-base !important;
  font-size: variables.$font-size-body;
  font-weight: variables.$font-weight-medium;
}

.sidenav-container {
  height: 100%;
}

.logo {
  height: 32px;
}

.spacer {
  flex: 1 1 auto; // Take up remaining space
}

.desktop-links {
  display: flex;
}

.menu-button {
  display: none; // Hide menu button by default
}

mat-toolbar {
  margin-bottom: variables.$space-10;
  &.no-margin {
    margin-bottom: 0; /* Remove margin on yoga routine pages */
  }
}

@media (max-width: 600px) {
  .menu-button {
    display: inline; // Show menu button on small screens
  }

  .desktop-links {
    display: none; // Hide links in toolbar on small screens
  }

  /* Ensure the menu opens below the hamburger icon */
  mat-menu {
    top: auto !important;
    left: auto !important;
  }
}

button {
  background-color: transparent;
  color: variables.$color-purple-900;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  box-shadow: none;

  &:hover {
    background-color: transparent;
  }

  &:focus {
    background-color: transparent;
    border: none;
  }

  &:active {
    background-color: transparent;
  }
}

// Responsive Styling
@media (max-width: 768px) {
  mat-toolbar {
    margin-bottom: variables.$space-10;
  }
}
