<mat-toolbar [class.no-margin]="isYogaRoutinePage" color="primary">
  <a routerLink="/">
    <img src="public/logo.svg" alt="Logo" class="logo" />
  </a>

  <!-- Spacer to push the links to the right -->
  <span class="spacer"></span>

  <!-- Links for desktop view -->
  <div class="desktop-links">
    <a mat-button routerLink="/library" routerLinkActive="active">Library</a>
    <a mat-button routerLink="/routines" routerLinkActive="active">Routines</a>
  </div>

  <!-- Hamburger menu button for mobile view -->
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="menu-button"
    (click)="toggleMenu()"
  >
    <mat-icon>{{ isMenuOpen ? "close" : "menu" }}</mat-icon>
    <!-- Toggle icon -->
  </button>
</mat-toolbar>

<!-- Dropdown menu for mobile view (excluding Home) -->
<mat-menu
  #menu="matMenu"
  (closed)="isMenuOpen = false"
  (opened)="isMenuOpen = true"
>
  <button
    mat-menu-item
    [routerLink]="'/library'"
    routerLinkActive="active"
    (click)="toggleMenu()"
  >
    Library
  </button>
  <button
    mat-menu-item
    [routerLink]="'/routines'"
    routerLinkActive="active"
    (click)="toggleMenu()"
  >
    Routines
  </button>
</mat-menu>
