<article *ngIf="meditation" class="card background-purple-light">
  <h2>{{ meditation.meditationName }}</h2>

  <div class="flex-container">
    <div class="flex-item">
      <div class="target-areas d-flex flex-wrap gap-8">
        <span
          *ngFor="let targetMeditation of meditation.targetMeditation"
          class="pill"
          [attr.aria-label]="'Meditation Focus: ' + targetMeditation"
          >{{ targetMeditation }}</span
        >
      </div>

      <p>{{ meditation.description }}</p>

      <h3>How to Prepare for This Meditation</h3>
      <p>{{ meditation.preparation }}</p>

      <h3>Step-by-Step Instructions</h3>
      <ol>
        <li *ngFor="let step of meditation.stepBystep">{{ step }}</li>
      </ol>

      <h3>How to Complete This Meditation</h3>
      <p>{{ meditation.completion }}</p>

      <h3>Guidance &amp; Alternate Variations</h3>
      <ul>
        <li *ngFor="let variant of meditation.suggestion">
          {{ variant }}
        </li>
      </ul>
    </div>

    <div class="flex-item">
      <picture>
        <source [srcset]="getWebpImage(meditation.image)" type="image/webp" />
        <img class="w-100" [src]="meditation.image" alt="" />
      </picture>
    </div>
  </div>
</article>
