<div class="card background-purple-light">
  <h2>{{ meditation.meditationName }}</h2>

  <div class="flex-container">
    <div class="flex-item">
      <div class="pill">{{ meditation.targetMeditation }}</div>
      <p>{{ meditation.description }}</p>

      <p class="bold">Preparation</p>
      <p>{{ meditation.preparation }}</p>

      <p class="bold">Step by Step Guide</p>
      <ol>
        <li *ngFor="let step of meditation.stepBystep">{{ step }}</li>
      </ol>

      <p class="bold">Completion</p>
      <p>{{ meditation.completion }}</p>

      <p class="bold">Guidance &amp; Variations</p>
      <ul>
        <li *ngFor="let variant of meditation.suggestion">
          {{ variant }}
        </li>
      </ul>
    </div>

    <div class="flex-item">
      <picture>
        <source [srcset]="getWebpImage(meditation.image)" type="image/webp" />
        <img
          class="w-100"
          [src]="meditation.image"
          alt="{{ meditation.name }}"
        />
      </picture>
    </div>
  </div>
</div>
