<div class="container">
  <div *ngIf="routineData">
    <app-breadcrumb></app-breadcrumb>

    <div class="intro">
      <h1>{{ routineData?.name }}</h1>
      <time
        class="margin-bottom-40 icon-setup"
        [attr.datetime]="'PT' + routineData?.time + 'M'"
      >
        <i class="material-icons" aria-hidden="true">schedule</i>
        {{ routineData?.time }} minutes
      </time>
      <p class="margin-bottom-40">{{ routineData?.introText }}</p>
      <p class="pill">{{ routineData?.targetAreas }}</p>
    </div>

    <picture>
      <source [srcset]="routineData?.imageWebp" type="image/webp" />
      <img
        [src]="routineData?.image"
        alt=""
        class="max-width-s w-100 radius-l box-shadow-s"
      />
    </picture>

    <h2 class="margin-top-72 max-width-s">
      The poses for this Yin-Style Yoga Routine
    </h2>
  </div>
  <!-- List with Yoga Poses and Time -->
  <section class="max-width-s" id="list">
    <ol aria-label="List of Yin-Style Yoga poses for this routine">
      <li *ngFor="let list of routineData?.lists" class="d-flex">
        <div class="pose-info d-flex justify-between align-center w-100">
          <span class="pose-name">{{ list.name }}</span>

          <div class="pose-time d-flex align-center">
            <span *ngIf="list?.repeat" class="icon-repeat"
              ><i class="material-icons" aria-hidden="true">repeat</i></span
            >
            <span>{{ list?.time }} min</span>
          </div>
        </div>
      </li>
    </ol>

    <div class="legend padding-top-24 margin-bottom-72">
      <p>
        <i
          class="material-icons align-center justifiy-end d-inline-flex"
          aria-hidden="true"
          >repeat</i
        >
        = Practice on both sides
      </p>
    </div>
  </section>

  <app-meditation-card
    *ngIf="selectedMeditation"
    [meditation]="selectedMeditation"
  ></app-meditation-card>

  <!-- Display the relevant yoga cards for this routine -->
  <section class="pose-cards">
    <h2 class="visually-hidden">Yin-Style Yoga Poses in this Routine</h2>
    <app-yoga-card *ngFor="let pose of yogaPoses" [pose]="pose"></app-yoga-card>
  </section>

  <div *ngIf="!routineData">
    <p>Routine not found!</p>
  </div>
</div>

<app-routine-end></app-routine-end>
