@use "./../../../../styles/variables" as variables;

.short-intro .material-icons {
  font-size: variables.$space-6;
  color: variables.$color-blue-300;
}

ol {
  list-style: none;
  padding-left: 0;
  /* Reset the counter at the start of the ordered list */
  counter-reset: item;

  li {
    padding: variables.$space-1 0;
    border-bottom: 1px solid variables.$border-neutral-200;

    .pose-name {
      max-width: 60%; /* Ensure name doesn't overlap */
    }

    .pose-time .icon-repeat {
      margin-right: variables.$space-2;
    }

    /* Pseudo-element for the numbering */
    &::before {
      content: counter(item);
      counter-increment: item;
      display: inline-block;
      width: variables.$space-6;
      height: variables.$space-7;
      line-height: variables.$space-7;
      border-radius: variables.$radius-full;
      background-color: variables.$color-purple-800;
      color: variables.$color-neutral-50;
      text-align: center;
      margin-right: variables.$space-2;
    }
  }
}

// ========================================================================
// Legend
// ========================================================================

.legend {
  text-align: right;

  p {
    font-size: variables.$space-02;

    i.material-icons {
      margin-right: variables.$space-0;
      font-size: variables.$space-4;
    }
  }
}
