<div class="container">
  <div *ngIf="routineData">
    <app-breadcrumb></app-breadcrumb>

    <div class="intro">
      <h1>{{ routineData?.name }}</h1>
      <p class="margin-bottom-40 icon-setup">
        <i class="material-icons">schedule</i> {{ routineData?.time }} minutes
      </p>
      <p class="margin-bottom-40">{{ routineData?.introText }}</p>
      <p class="pill">{{ routineData?.targetAreas }}</p>
    </div>

    <img
      [src]="routineData?.image"
      alt="{{ routineData?.name }}"
      class="max-width-s w-100 radius-l box-shadow-s"
    />

    <h2 class="margin-top-72 max-width-s">
      The poses for this Yin-Style Yoga Routine
    </h2>
  </div>
  <!-- List with Yoga Poses and Time -->
  <div class="max-width-s" id="list">
    <ol>
      <li *ngFor="let list of routineData?.lists" class="d-flex">
        <div class="pose-info d-flex justify-between align-center w-100">
          <span class="pose-name">{{ list.name }}</span>

          <div class="pose-time d-flex align-center">
            <span *ngIf="list?.repeat" class="icon-repeat"
              ><i class="material-icons">repeat</i></span
            >
            <span>{{ list?.time }} min</span>
          </div>
        </div>
      </li>
    </ol>

    <div class="legend padding-top-24 margin-bottom-72">
      <p>
        <i class="material-icons align-center justifiy-end d-inline-flex"
          >repeat</i
        >
        = Practice on both sides
      </p>
    </div>
  </div>
  <app-meditation-card></app-meditation-card>

  <!-- Display the relevant yoga cards for this routine -->
  <div class="pose-cards">
    <app-yoga-card *ngFor="let pose of yogaPoses" [pose]="pose"></app-yoga-card>
  </div>

  <div *ngIf="!routineData">
    <p>Routine not found!</p>
  </div>
</div>

<app-routine-end></app-routine-end>
