@use "./../../../styles/variables" as variables;

.intro {
  max-width: 821px;
  margin-bottom: variables.$space-6;
}

.filter-buttons {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.filter-buttons button {
  padding: 10px 20px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.filter-buttons button.active {
  background-color: #333;
  color: white;
}

.filter-buttons button:hover {
  background-color: #ccc;
}
