<div class="card background-neutral-light">
  <h2>{{ pose.name }}</h2>

  <div class="flex-container">
    <div class="flex-item">
      <p class="bold">Main Target Areas:</p>
      <div class="target-areas d-flex flex-wrap gap-8">
        <span *ngFor="let target of pose.targetAreas" class="pill">{{
          target
        }}</span>
      </div>
      <p>{{ pose.targetDescription }}</p>

      <p class="bold">Steps into the Pose:</p>
      <ol>
        <li *ngFor="let step of pose.stepsIntoPose">{{ step }}</li>
      </ol>
      <p class="bold">Steps out of the Pose:</p>
      <ol>
        <li *ngFor="let step of pose.stepsOutOfPose">{{ step }}</li>
      </ol>
      <p class="bold">Possible Variants:</p>
      <ul>
        <li *ngFor="let variant of pose.possibleVariants">{{ variant }}</li>
      </ul>
      <div
        *ngIf="pose.practiceOnBothSides"
        class="pill practice-pill align-center gap-8"
      >
        Practice on both sides <i class="material-icons">repeat</i>
      </div>
    </div>
    <div class="flex-item">
      <picture>
        <source [srcset]="getWebpImage(pose.image)" type="image/webp" />
        <img class="w-100" [src]="pose.image" alt="{{ pose.name }}" />
      </picture>
    </div>
  </div>
</div>
