@use "./../../../styles/variables" as variables;

.target-areas {
  display: flex;
  flex-wrap: wrap;
  gap: variables.$space-1;
}

.practice-pill {
  display: inline-flex;
  align-items: center;
  gap: variables.$space-1;
  background-color: variables.$color-neutral-200;
  padding: 14px 32px;
  margin-top: variables.$space-5;
}

@media (max-width: 1200px) {
  .card img {
    max-width: 450px;
  }
}

@media (max-width: 767px) {
  .card img {
    max-width: 100%;
  }
}
