@use "./../../../styles/variables" as variables;

.yoga-card {
  padding: variables.$space-7 variables.$space-6 variables.$space-10;
  border-radius: variables.$radius-l;
  margin-bottom: variables.$space-8;
  box-shadow: variables.$elevation-xs;
}

.yoga-card h2 {
  margin-bottom: variables.$space-6;
}

.yoga-card img {
  max-width: 576px;
  height: auto;
  display: block;
  max-width: 100%;
}

.flex-container {
  display: flex;
  gap: variables.$gap-desktop;
}

.flex-item {
  flex: 1;
}

.bold {
  margin-bottom: variables.$space-0;
  margin-top: variables.$space-5;
}

.bold:first-child {
  margin-top: 0;
}

ul li,
ol li {
  font-size: variables.$font-size-body;
  font-weight: variables.$font-weight-medium;
}

ol,
ul {
  padding-left: 20px;
  margin-left: 0;
}

li {
  margin-bottom: 4px;
}

@media (max-width: 1100px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-item:nth-child(2) {
    order: -1;
  }
}

// ========================================================================
// Pill Design
// ========================================================================

.target-areas {
  display: flex;
  flex-wrap: wrap;
  gap: variables.$space-1;
}

.practice-pill {
  display: inline-flex;
  align-items: center;
  gap: variables.$space-1;
  background-color: variables.$color-neutral-200;
  padding: 14px 32px;
  margin-top: variables.$space-5;
}
