<div class="library-discovery">
  <div class="container">
    <h2>Discover a Library of Yin&#8209;Style Yoga Poses</h2>
    <div class="flexcontent">
      <p>
        Explore a comprehensive collection of Yin-Style Yoga poses in the
        Library. Each pose is designed to help you target specific areas of your
        body, promoting flexibility, balance, and relaxation. Whether you're new
        to Yin Yoga or looking to deepen your practice.
      </p>
      <button routerLink="/library">Explore Poses</button>
    </div>
    <div class="flex-container">
      <div class="flex-item">
        <img src="public/yoga-poses/dangling.png" alt="" />
      </div>
      <div class="flex-item">
        <img src="public/yoga-poses/yoga-squat.png" alt="" />
      </div>
      <div class="flex-item">
        <img src="public/yoga-poses/toe-squat.png" alt="" />
      </div>
    </div>
  </div>
</div>
