@use "./../../../styles/variables" as variables;

.flexcontent {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-elements;
  max-width: 821px;
  width: 100%;
  margin-bottom: variables.$space-9;
}

.flex-container {
  gap: variables.$spacing-elements;
}

.flex-item {
  background-color: variables.$background-green-50;
  border-radius: variables.$radius-l;
  align-items: center;
  justify-content: center;
  box-shadow: variables.$elevation-xs;
}

h2 {
  max-width: 821px;
}

:host .flex-container {
  flex-direction: row !important;
}

:host .flex-item:nth-child(2) {
  order: 0 !important; /* Reset the order for the second item */
  margin: initial !important; /* Reset margin */
}

@media (max-width: 767px) {
  :host .flex-container {
    flex-direction: column !important; /* Switch to column only below 767px */
  }

  :host .flex-item:nth-child(3) {
    order: 1 !important; /* Reapply order at 767px */
    margin: 0 auto !important;
  }

  :host .flex-item:nth-child(1),
  :host .flex-item:nth-child(2) {
    display: none; /* Hide the second and third images */
  }
}
