<section class="library-discovery">
  <div class="container">
    <h2 class="max-width-821">{{ title }}</h2>
    <div class="flexcontent d-flex flex-column w-100 margin-bottom-56 gap-32">
      <p class="max-width-821">{{ description }}</p>
      <a class="button" [routerLink]="buttonLink">{{ buttonLabel }}</a>
    </div>
    <div class="flex-container gap-32">
      <div
        class="flex-item align-center justify-center radius-l box-shadow-xs"
        [ngClass]="backgroundClass"
        *ngFor="let image of images"
      >
        <picture>
          <source [srcset]="getWebpImage(image.src)" type="image/webp" />
          <img [src]="image.src" alt="" />
        </picture>
      </div>
    </div>
  </div>
</section>
