<app-filtering
  *ngIf="showFilter"
  [filterOptions]="filterOptions"
  [selectedFilter]="selectedFilter"
  (filterChange)="onFilterChange($event)"
>
</app-filtering>

<div
  *ngFor="let routine of filteredRoutines"
  class="training-card background-neutral-light"
  [routerLink]="['/yin-style-yoga/routine', routine.slug]"
>
  <h2 class="margin-top-0 margin-bottom-32">{{ routine.name }}</h2>

  <div class="flex-container">
    <div class="flex-item">
      <p class="icon-setup">
        <i class="material-icons">schedule</i> {{ routine.time }} minutes
      </p>

      <p class="bold margin-top-24 margin-bottom-4">Target Areas</p>
      <p class="pill margin-bottom-0">{{ routine.targetAreas }}</p>
      <p class="bold margin-top-24 margin-bottom-4">Description</p>
      <p>{{ routine.description }}</p>
      <!--
<button
        class="margin-top-40"
        [routerLink]="['/yin-style-yoga/routine', routine.slug]"
      >
        View Routine
      </button>
     -->
    </div>
    <div class="flex-item">
      <picture *ngIf="routine.image">
        <source [srcset]="getWebpImage(routine.image)" type="image/webp" />
        <img
          class="radius-l box-shadow-s w-100"
          [src]="routine.image"
          alt="{{ routine.name }}"
        />
      </picture>
    </div>
  </div>
</div>
