@use "./../../../styles/variables" as variables;

h3 {
  margin-bottom: variables.$space-1;
}

.benefits-container {
  display: grid;

  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
