@use "./../../../styles/variables" as variables;

.benefits-container {
  display: grid;
  gap: variables.$spacing-elements;

  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.benefits-container > div {
  max-width: 100%;
}

.h3-small {
  margin-bottom: variables.$space-1;
}
