@use "./../../../styles/variables" as variables;

.flex-container {
  display: flex;
  gap: variables.$spacing-elements;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.column-4 {
  flex: 1;
  box-sizing: border-box;

  @media (max-width: 1024px) {
    flex: 1 100%;
    max-width: 100%;
  }
}

.column-8 {
  flex: 2;
  box-sizing: border-box;
  width: 100%;

  @media (max-width: 1024px) {
    flex: 1 100%;
  }
}

// ========================================================================
// Angular Material specific Overridings
// ========================================================================

mat-expansion-panel p {
  margin-bottom: 1em;
}

.example-accordion {
  display: block;
}

.example-accordion-item-body {
  padding: 16px;
}

.example-accordion-item-icon {
  display: flex;
  align-items: center;
}

mat-icon {
  transition: transform 0.3s ease;
}

mat-icon.expanded {
  transform: rotate(180deg);
}

.example-accordion-item {
  display: block;
  border: none;
  border-bottom: solid 1px variables.$color-neutral-400;
}

.example-accordion-item:first-child {
  border-top: solid 1px variables.$color-neutral-400;
}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-size: variables.$font-size-h3;
  font-weight: variables.$font-weight-semibold;
  padding: 1em 0.25em;
}

.example-accordion-item-header:hover {
  cursor: pointer;
  background-color: variables.$color-purple-100;
}

.example-accordion-item-body {
  font-size: variables.$font-size-body;
  font-weight: variables.$font-weight-medium;
  padding-bottom: variables.$space-6;
  line-height: 140%;
}

// ========================================================================
// Additional Responsive Design
// ========================================================================

@media (max-width: 768px) {
  .example-accordion-item-header {
    font-size: variables.$font-size-h3-tablet;
  }
}

@media (max-width: 390px) {
  .example-accordion-item-header {
    font-size: variables.$font-size-h3-phone;
  }
  .example-accordion-item-body {
    font-size: variables.$font-size-body-phone;
  }
}
