@use "./../../../styles/variables" as variables;

.short-intro {
  display: flex;
  justify-content: center;
  padding: variables.$space-13 0;
}

.intro-text {
  font-size: variables.$font-size-highlighted;
  font-weight: variables.$font-weight-semibold;
  max-width: 1034px;
  width: 100%;
  text-align: center;
}
