@use "./../../../../styles/variables" as variables;

.navbar {
  padding: variables.$space-4 0;
}

.logo img {
  max-height: variables.$space-6;
}

.nav-menu {
  list-style: none;
}

.nav-menu a {
  color: variables.$font-color-body;
  font-weight: variables.$font-weight-medium;
  text-decoration: none;
}

.nav-menu a.active-link {
  font-weight: variables.$font-weight-bold;
}

/* Mobile Menu Toggle */
.menu-toggle {
  cursor: pointer;
}

.border-bottom {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid variables.$color-purple-100;

  &.no-margin {
    margin-bottom: 0; /* No margin on yoga-routines pages */
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-menu {
    display: none; /* Hide by default on mobile */
    flex-direction: column;
    position: absolute;
    top: 72px;
    right: 0;
    background-color: variables.$color-neutral-50;
    width: 100%;
    height: calc(100vh - 68px);
    text-align: right;
  }

  .nav-menu.active {
    display: flex; /* Show the menu when the active class is added */
  }

  .menu-toggle {
    display: flex;
  }
  .border-bottom {
    margin-bottom: variables.$space-10;
  }

  ul li {
    font-size: variables.$space-6;
    border-bottom: 1px solid variables.$border-neutral-200;
    padding: variables.$space-6 variables.$global-padding-tablet;
  }

  ul li:first-child {
    border-top: 1px solid variables.$border-neutral-200;
  }

  .nav-menu {
    gap: 0;
  }
}

@media (max-width: 390px) {
  ul li {
    padding: variables.$space-6 variables.$global-padding-phone;
  }
}
