ol {
  list-style-position: outside;
  padding-left: 2rem;
}

.breathing-item {
  display: flex;
  align-items: center;
}

.pose-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.time-and-ratio {
  text-align: right;
}

.pose-ratio {
  font-size: 0.9rem;
  color: #6c757d;
  margin-top: 0.2rem;
}
