@use "./../../../../styles/variables" as variables;

.logo {
  max-width: 11.5rem;
}

.navbar {
  padding: variables.$space-3 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul,
.sub-nav ul {
  font-size: variables.$space-3;
}

ul {
  padding: 0;
}

.nav-menu {
  display: none;
  list-style: none;
  display: flex;
  gap: variables.$space-6;

  .nav-item {
    position: relative; /* Allows absolute positioning inside */

    a {
      text-decoration: none;
      color: variables.$font-color-body;
      position: relative; /* Needed for the underline positioning */
      font-weight: 500;

      &.active-link {
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6); /* bold without friction when hovering */

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -24px;
          width: 100%;
          border-radius: variables.$radius-m;
          height: 2px;
          background-color: variables.$color-green-400;
        }
      }

      &:hover {
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
      }
    }
  }
}

.menu-toggle {
  display: none; /* Hamburger: Hidden on larger screens */
  right: 0;
  z-index: 10000;
}

.menu-position {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 999;

  &.no-margin {
    margin-bottom: 0; /* No margin on yoga-routines pages */
  }
}

/* Submenu */
.sub-nav {
  & ul {
    gap: variables.$space-6;
    background-color: variables.$color-green-50;
    padding: variables.$space-1 variables.$space-7;
    border-radius: variables.$radius-full;
  }
  & ul li {
    list-style: none;
  }
  & ul li a {
    text-decoration: none;
    color: variables.$font-color-body;
    position: relative; /* Needed for the underline positioning */
    font-weight: 500;

    &.active-link {
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6); /* bold without friction when hovering */

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -13px;
        width: 100%;
        border-radius: variables.$radius-m;
        height: 2px;
        background-color: variables.$color-green-400;
      }
    }
  }
}

/* Exclude navigation elements from the fade-in effect */
.navbar,
.sub-nav {
  opacity: 1 !important;
  animation: none !important;
}

@media (max-width: 767px) {
  .nav-menu {
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    position: fixed; /* Make sure it overlays everything */
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh; /* Full screen */
    background: variables.$color-neutral-50;
    z-index: 9999;
    padding-top: variables.$space-12;
    align-items: center;
  }

  .nav-menu.active {
    opacity: 1;
    visibility: visible;
    display: flex; /* Show menu */
    top: 70px;
  }

  .navbar ul li {
    font-size: 1.5rem;
  }

  .menu-open .container {
    padding: 0;
  }

  .menu-open .navbar {
    padding: 1.125rem 0;
  }

  .menu-open .container .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav-menu .nav-item a.active-link::after {
    bottom: -8px;
  }

  .menu-open .menu-toggle {
    padding-right: 1rem;
  }

  .menu-toggle {
    display: flex; /* Visible only on mobile screens */
    flex-direction: column;
    gap: variables.$space-2;
    cursor: pointer;
  }

  ul li:first-child.nav-item {
    padding-top: variables.$space-6;
  }
}
