<article class="flex-container">
  <a
    class="flex-item background-white card"
    *ngFor="let card of cards"
    [routerLink]="card.buttonLink"
    role="link"
  >
    <h3>{{ card.headline }}</h3>
    <div *ngFor="let desc of card.description">
      <p class="margin-bottom-16">{{ desc }}</p>
    </div>
    <picture>
      <source [srcset]="getWebpImage(card.imagePathWebP)" type="image/webp" />
      <img
        [src]="card.imagePath"
        alt=""
        class="radius-m box-shadow-xs margin-top-24"
      />
    </picture>
  </a>
</article>
