// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

@use "styles/variables" as variables;

// Include the common styles for Angular Material, required for Angular Material components to work correctly.
@include mat.core();

// Define the theme object.
$kokolo-yoga-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($kokolo-yoga-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($kokolo-yoga-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($kokolo-yoga-theme);
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: variables.$font-family-base;
  background-color: variables.$background-white;
}

.container {
  max-width: variables.$max-width;
  margin: 0;
  padding: 0 variables.$global-padding-desktop;
}

// ========================================================================
// Typography
// ========================================================================

h1,
h2,
h3,
.h3-small {
  font-weight: variables.$font-weight-semibold;
  color: variables.$font-color-headlines;
  font-optical-sizing: variables.$font-optical-sizing;
  line-height: 120%;
}

h1 {
  font-size: variables.$font-size-h1;
  margin-bottom: variables.$space-6;
}

h2 {
  font-size: variables.$font-size-h2;
  margin-bottom: variables.$space-7;
}

h3 {
  font-size: variables.$font-size-h3;
}

.h3-small {
  font-size: variables.$font-size-h3-small;
}

p {
  font-size: variables.$font-size-body;
  font-weight: variables.$font-weight-medium;
  line-height: 140%;
}

.subheadline {
  font-size: variables.$font-size-subheadline;
  font-weight: variables.$font-weight-regular;
}

.bold {
  font-weight: variables.$font-weight-bold;
}

// ========================================================================
// Buttons & Icons
// ========================================================================

button {
  background-color: variables.$button-default-bg;
  color: variables.$button-standard-font-color;
  border: none;
  border-radius: variables.$radius-s;
  padding: variables.$padding-top-bottom variables.$padding-left-right;
  font-size: variables.$font-size-body;
  font-weight: variables.$font-weight-regular;
  cursor: pointer;
  box-shadow: variables.$elevation-xs;

  &:hover {
    background-color: variables.$button-hover-bg;
  }

  &:focus {
    background-color: variables.$button-focused-bg;
    border: 2px solid variables.$button-focused-border;
  }

  &:active {
    background-color: variables.$button-selected-bg;
  }

  &:disabled {
    background-color: variables.$button-disabled-bg;
    color: variables.$button-disabled-font-color;
  }
}

// Icon Set-up
.icon-setup {
  display: inline-flex;
  align-items: center;
}

.icon-setup i {
  margin-right: variables.$space-1;
}

// ========================================================================
// Backgrounds
// ========================================================================

.background-neutral-light {
  background-color: variables.$color-neutral-100;
}

.background-blue-light {
  background-color: variables.$color-blue-50;
}

.background-purple-light {
  background-color: variables.$color-purple-50;
}

// ========================================================================
// Pill Design
// ========================================================================

.pill {
  background-color: variables.$color-purple-200;
  color: variables.$font-color-body;
  padding: 6px 16px;
  border-radius: variables.$radius-full;
  font-weight: variables.$font-weight-medium;
  font-size: variables.$font-size-body;
  display: inline-block;
  white-space: nowrap;
  margin-bottom: variables.$space-3;
  margin-top: variables.$space-1;
}

// ========================================================================
// Margin / Padding
// ========================================================================
.margin-bottom-40 {
  margin-bottom: variables.$space-7;
}

// ========================================================================
// Re-used Stylings
// ========================================================================

.intro {
  max-width: 821px;
  margin-bottom: variables.$space-6;
}

.max-width-s {
  max-width: 821px;
}
