@use "styles/variables" as variables;
@use "styles/utilities" as utilities;

html,
body {
  font-family: variables.$font-family-base;
  background-color: variables.$color-neutral-50;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin: 0;
  padding: 0 variables.$global-padding-desktop;
}

/*
* {
  opacity: 0;
  animation: fadeIn variables.$fade-duration variables.$fade-ease forwards;
}
*/

// ========================================================================
// Typography
// ========================================================================

@mixin headline($size, $margin-bottom) {
  font-weight: variables.$font-weight-semibold;
  color: variables.$font-color-headlines;
  font-optical-sizing: variables.$font-optical-sizing;
  line-height: 120%;
  margin-top: 0;
  font-size: $size;
  margin-bottom: $margin-bottom;
}

h1 {
  @include headline(variables.$font-size-h1, variables.$space-6);
}

h2 {
  @include headline(variables.$font-size-h2, variables.$space-7);
}

h3,
.h3-small {
  @include headline(variables.$font-size-h3, variables.$space-6);
}

.h3-small {
  font-size: variables.$font-size-h3-small;
}

p {
  font-size: variables.$font-size-body;
  font-weight: variables.$font-weight-medium;
  line-height: 140%;
  color: variables.$font-color-body;
  margin: 0;
}

.subheadline {
  font-size: variables.$font-size-subheadline;
  font-weight: variables.$font-weight-regular;
}

.bold {
  font-weight: variables.$font-weight-bold;
}

// ========================================================================
// Flex Mixin
// ========================================================================

@mixin flexbox($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// ========================================================================
// Buttons & Icons
// ========================================================================

@mixin button-style {
  background-color: variables.$button-default-bg;
  color: variables.$button-standard-font-color;
  border: none;
  border-radius: variables.$radius-m;
  padding: variables.$space-3 variables.$space-6;
  font-size: variables.$font-size-body;
  font-weight: variables.$font-weight-medium;
  cursor: pointer;
  box-shadow: variables.$elevation-xs;
  align-self: flex-start;
  font-family: variables.$font-family-base;
}

button,
.button {
  @include button-style;

  &:hover {
    background-color: variables.$button-hover-bg;
  }

  &:focus {
    background-color: variables.$button-focused-bg;
    border: 2px solid variables.$button-focused-border;
  }

  &:focus-visible {
    outline: 3px solid variables.$border-neutral-200;
    outline-offset: 2px;
  }

  &:active {
    background-color: variables.$button-selected-bg;
  }

  &:disabled {
    background-color: variables.$button-disabled-bg;
    color: variables.$button-disabled-font-color;
  }
}

// Icon Set-up
.icon-setup {
  display: inline-flex;
  align-items: center;
}

.icon-setup i {
  margin-right: variables.$space-1;
}

// Navigational Buttons
a.button:hover {
  text-decoration: none;
  color: variables.$color-neutral-50;
}

.button {
  display: inline-block;
}

// ========================================================================
// Pill Design
// ========================================================================

.pill {
  background-color: variables.$color-purple-200;
  color: variables.$font-color-body;
  padding: variables.$space-01 variables.$space-3;
  border-radius: variables.$radius-full;
  font-weight: variables.$font-weight-medium;
  font-size: variables.$font-size-body;
  display: inline-block;
  white-space: nowrap;
  margin-bottom: variables.$space-3;
  margin-top: variables.$space-1;
}

.target-areas {
  gap: variables.$space-1;
}

.practice-pill {
  display: inline-flex;
  background-color: variables.$color-neutral-200;
  padding: variables.$space-02 variables.$space-6;
  margin-top: variables.$space-5;
}

.pill {
  &-easy {
    background-color: variables.$color-neutral-200;
  }

  &-medium {
    background-color: variables.$color-neutral-500;
    color: variables.$color-neutral-50;
  }

  &-difficult {
    background-color: variables.$color-neutral-800;
    color: variables.$color-neutral-50;
  }

  &-default {
    background-color: variables.$color-neutral-100;
  }
}

@media (max-width: 1200px) {
  .card img {
    max-width: 450px;
  }
}

@media (max-width: 767px) {
  .card img {
    max-width: 100%;
  }
}

// ========================================================================
// Margin / Padding
// ========================================================================

.benefits,
.library-discovery,
.accordion {
  padding: variables.$space-14 0;
}

.max-width-821 {
  max-width: 821px;
}

// ========================================================================
// Card Design (Yoga and Meditation), Flex Design - 2 Items
// ========================================================================
.card,
.training-card {
  padding: variables.$space-7 variables.$space-6 variables.$space-9;
  border-radius: variables.$radius-l;
  margin-bottom: variables.$space-8;
  box-shadow: variables.$elevation-xs;
}

.card h2 {
  margin: 0 0 variables.$space-6;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

.flex-container {
  @include flexbox(row, space-between, flex-start);
  gap: variables.$space-6;
}

.flex-item {
  flex: 1;
}

.bold {
  margin-bottom: variables.$space-0;
  margin-top: variables.$space-5;
}

.bold:first-child {
  margin-top: 0;
}

@mixin list-style {
  font-size: variables.$font-size-body;
  font-weight: variables.$font-weight-medium;
  padding-left: variables.$space-4;
  margin: 0;
  li {
    margin-bottom: variables.$space-0;
    line-height: 140%;
  }
}

ol,
ul {
  @include list-style;
}

@media (max-width: 1200px) {
  .flex-container {
    @include flexbox(column);
  }

  .flex-item:nth-child(2) {
    order: -1;
    margin: 0 auto;
  }
}

// ========================================================================
// Links
// ========================================================================

a:link {
  color: variables.$color-purple-700;
  text-decoration: none;
}

a:hover {
  color: variables.$color-purple-600;
  text-decoration: underline;
}

a:active {
  color: variables.$color-purple-500;
}

// ========================================================================
// List Routines
// ========================================================================
#list ol {
  list-style: none;
  padding-left: 0;
  /* Reset the counter at the start of the ordered list */
  counter-reset: item;

  li {
    padding: variables.$space-2 0;
    border-bottom: 1px solid variables.$border-neutral-200;

    .pose-name {
      max-width: 60%; /* Ensure name doesn't overlap */
    }

    .pose-time .icon-repeat {
      margin-right: variables.$space-2;
    }

    /* Pseudo-element for the numbering */
    &::before {
      content: counter(item);
      counter-increment: item;
      display: inline-block;
      width: variables.$space-6;
      height: variables.$space-7;
      line-height: variables.$space-7;
      border-radius: variables.$radius-full;
      background-color: variables.$color-purple-800;
      color: variables.$color-neutral-50;
      text-align: center;
      margin-right: variables.$space-2;
    }
  }
}

.legend {
  text-align: right;

  p {
    font-size: variables.$space-02;

    i.material-icons {
      margin-right: variables.$space-0;
      font-size: variables.$space-4;
    }
  }
}

// ========================================================================
// Re-used Stylings
// ========================================================================

.intro {
  max-width: 821px;
  margin-bottom: variables.$space-6;
}

.max-width-s {
  max-width: 821px;
}

.short-intro {
  display: flex;
  justify-content: center;
}

.intro-text {
  font-size: variables.$font-size-highlighted;
  font-weight: variables.$font-weight-semibold;
  max-width: 1034px;
  text-align: center;
}

// Intro- & Information Component
.short-intro {
  padding: variables.$space-14 variables.$space-13;
}

@media (max-width: 390px) {
  .short-intro {
    padding: variables.$space-10 variables.$space-3;
  }
}

// Mobile Menu
.no-scroll {
  overflow: hidden !important; /* Prevent scrolling */
  position: fixed; /* Ensure no accidental movement */
  width: 100%; /* Prevent horizontal movement */
}

.logo {
  max-width: 12.5rem;
}

// ========================================================================
// Responsive Design
// ========================================================================

// Tablet
@media (max-width: 768px) {
  .container {
    padding-left: variables.$global-padding-tablet;
    padding-right: variables.$global-padding-tablet;
  }
  .intro-text {
    max-width: 534px;
    font-size: variables.$font-size-highlighted-tablet;
  }
  .short-intro {
    padding: variables.$space-11 0;
  }
  h1 {
    font-size: variables.$font-size-h1-tablet;
  }

  h2 {
    font-size: variables.$font-size-h2-tablet;
    margin-bottom: variables.$space-5;
  }

  h3 {
    font-size: variables.$font-size-h3-tablet;
  }

  .h3-small {
    font-size: variables.$font-size-h3-small-tablet;
  }

  .subheadline {
    font-size: variables.$font-size-highlighted-tablet;
  }
  .library-discovery,
  .benefits,
  .background-blue-light {
    padding: variables.$space-11 0;
  }
}

// Phone
@media (max-width: 390px) {
  .container {
    padding-left: variables.$global-padding-phone;
    padding-right: variables.$global-padding-phone;
  }
  .intro-text {
    width: 100%;
  }

  h2 {
    font-size: variables.$font-size-h2-phone;
  }

  h3 {
    font-size: variables.$font-size-h3-phone;
  }

  .h3-small {
    font-size: variables.$font-size-h3-small-phone;
  }

  p,
  .pill,
  button,
  .button {
    font-size: variables.$font-size-body-phone;
  }
  .library-discovery,
  .benefits,
  .background-blue-light,
  .accordion .background-purple-light {
    padding: variables.$space-10 0;
  }
  .card,
  .training-card {
    padding: variables.$space-6 variables.$space-3;
    margin-bottom: variables.$space-6;
  }
  ol li,
  ul li {
    font-size: variables.$font-size-body-phone;
  }
}
