<div
  class="accordion padding-top-96 padding-bottom-96"
  [ngClass]="backgroundClass"
>
  <div class="container">
    <div class="flex-container d-flex">
      <div class="column-4">
        <h2>{{ title }}</h2>
      </div>

      <div class="column-8">
        <div
          *ngFor="let item of items; let i = index"
          class="accordion-item d-block"
        >
          <div
            class="accordion-header d-flex justify-between align-center"
            (click)="togglePanel(i)"
          >
            <h3 class="margin-0">{{ item.title }}</h3>
            <span class="icon">{{ activeIndex === i ? "-" : "+" }}</span>
          </div>
          <div class="accordion-content" *ngIf="activeIndex === i">
            <p class="margin-bottom-16" *ngFor="let paragraph of item.content">
              {{ paragraph }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
