<div class="accordion" [ngClass]="backgroundClass">
  <div class="container">
    <div class="flex-container d-flex">
      <div class="column-4">
        <h2>{{ title }}</h2>
      </div>

      <div class="column-8">
        <div
          *ngFor="let item of items; let i = index"
          class="accordion-item d-block"
        >
          <!-- Accordion Header -->
          <h3 class="margin-0">
            <button
              class="accordion-header d-flex justify-between align-center"
              (click)="togglePanel(i)"
              [attr.aria-expanded]="activeIndex === i"
              [attr.aria-controls]="'accordion-content-' + i"
            >
              {{ item.title }}
              <span class="icon">{{ activeIndex === i ? "-" : "+" }}</span>
            </button>
          </h3>

          <!-- Accordion Content -->
          <div
            class="accordion-content"
            *ngIf="activeIndex === i"
            [id]="'accordion-content-' + i"
            role="region"
            [attr.aria-labelledby]="'accordion-header-' + i"
          >
            <ng-container *ngFor="let paragraph of item.content">
              <p
                class="margin-bottom-16"
                *ngIf="!paragraph.list"
                [innerHTML]="paragraph.text"
              ></p>
              <ul *ngIf="paragraph.list" class="margin-bottom-16">
                <li
                  *ngFor="let point of paragraph.list"
                  [innerHTML]="point"
                ></li>
              </ul>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
