@use "./../../../styles/variables" as variables;

.accordion {
  .accordion-item {
    display: block;
    border: none;
    border-bottom: solid 1px variables.$color-neutral-400;

    .accordion-header {
      padding: 32px 10px;
      display: flex;
      align-content: center;
      justify-content: space-between;
      align-items: center;

      h3 {
        margin: 0;
      }

      .icon {
        font-size: 32px;
        padding-left: 16px;
      }
    }

    .accordion-content {
      padding: 10px 10px 32px;
    }
  }

  .accordion-item:first-child {
    border-top: solid 1px variables.$color-neutral-400;
  }

  .accordion-header:hover {
    cursor: pointer;
    background-color: variables.$color-purple-100;
  }
}

.flex-container {
  display: flex;
  gap: variables.$spacing-elements;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.column-4 {
  flex: 1;
  box-sizing: border-box;

  @media (max-width: 1024px) {
    flex: 1 100%;
    max-width: 100%;
  }
}

.column-8 {
  flex: 2;
  box-sizing: border-box;
  width: 100%;

  @media (max-width: 1024px) {
    flex: 1 100%;
  }
}
